<div>
    <form action="/users" method="post">
        <legend>New User</legend>

        <div class="form-group">
            <label for="user-username">Username</label>
            <input type="text" name="username" class="form-control" id="user-username" placeholder="Username">
            <input type="name" name="name" class="form-control" id="user-name" placeholder="Name and Surname">
            <input type="number" name="age" class="form-control" id="user-age" placeholder="Age (years)">
            <input type="text" name="hometown" class="form-control" id="user-hometown" placeholder="Hometown (City, State, Country)">
            <input type="number" name="height" class="form-control" id="user-height" placeholder="Height (ft.in)">
            <input type="number" name="weight" class="form-control" id="user-weight" placeholder="Weight (lbs)">
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
