<!-- Layout HBS {{currentUserId}}-->
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand" >
      <h3>Soccer Without Borders</h3>
    </div>
      {{#if currentUserId}}
        <a href="/logout"><button type="button" class="yi btn btn-default pull-right">Log Out</button></a>
      {{else}}
        <a href="/login"><button type="button" class="yi btn btn-default pull-right">Log In</button></a>
      {{/if}}
    </nav>

    <main>
      {{{body}}}
    </main>
</body>

<style>

body, html {
  height: 100%;
}

body {
    background-image: url("/images/soccerfield.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

    </html>
