<div>
  <form action="/users" method="post">
    <legend>New User</legend>

    <div class="form-group">
      <label for="user-username">Username</label>
      <input type="text" name="username" class="form-control" id="user-username" placeholder="Username">
    </div>
<div class="form-group">
  <label for="user-name">Name and Surname</label>
  <input type="name" name="name" class="form-control" id="user-name" placeholder="Name and Surname">
</div>

<div class="form-group">
  <label for="user-age">Age</label>
  <input type="number" name="age" class="form-control" id="user-age" placeholder="Age (years)">
</div>

<div class="form-group">
  <label for="user-hometown">Hometown (City, State, Country)</label>
  <input type="text" name="hometown" class="form-control" id="user-hometown" placeholder="Hometown (City, State, Country)">
</div>

<div class="form-group">
  <label for="user-height">Height (ft.in)</label>
  <input type="number" name="height" class="form-control" id="user-height" placeholder="Height (ft.in)">
</div>

<div class="form-group">
  <label for="user-weight">Weight (lbs)</label>
  <input type="number" name="weight" class="form-control" id="user-weight" placeholder="Weight (lbs)">
</div>

    <div class="form-group">
      <label for="user-password">Password</label>
      <input type="password" name="password" class="form-control" id="user-password" placeholder="Password">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
